@using WebProductos.Models

@model List<E_Producto>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>

    <!--Agregando archivo .css de bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!--Agregando archivo .js de boostrap -->
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="display-1">Inventario V1.1</h1>

        <a href="/Producto/IrAgregar" class="btn btn-danger">Nuevo Producto</a>

        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success">
                <h3>@TempData["mensaje"]</h3>
            </div>
        }

        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">
                <b>Ocurrio un error:</b> @TempData["error"]
            </div>
        }


        <table class="table table-bordered table-danger table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Fecha Ingreso</th>
                    <th>¿Esta Disponible?</th>
                    <th>Fecha de caducidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (E_Producto producto in Model)
                {
                    <tr>
                        <td>@producto.IdProducto</td>
                        <td>@producto.Descripcion</td>
                        <td>@producto.Precio</td>
                        <td>@producto.FechaIngreso.ToString("dd/MM/yyyy")</td>
                        <td>@producto.DisponibleDescripcion</td>
                        <td>@producto.FechaCaducidad</td>
                        <td>
                            <a href="/Producto/IrEditar?idProducto=@producto.IdProducto" class="btn btn-info">Editar</a>
                            <a href="/Producto/Eliminar?idProducto=@producto.IdProducto" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
